@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Quicksand:wght@300..700&display=swap');

.container {
    max-width: 1080px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paginate {
    width: 100%;
}

h1{
    font-family: 'Dorsa', sans-serif;
    font-weight:100;
    font-size:120px;
    text-align:center;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
}