html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #ffe0e0;*/
  background: rgb(255,224,224);
  background: linear-gradient(180deg, rgba(255,224,224,1) 0%, rgba(204,244,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
